@import url(http://fonts.googleapis.com/css?family=Dosis);

body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.h1, .h2, .h3, .h4, .h5, .h6, .Dosis {
	font-family: "Dosis", sans-serif;
}

.row {
	margin-bottom: 10px;
}

.spotlight  {
	text-align: center;
}

.sponsorLogo {
	max-width: 100%;
}

/* Flickity Styles */

.galleryWrapper {
	padding: 48px 0;
	margin-bottom: 30px;
	background: #EEE;
}

.main-gallery {
	margin: 0 80px;
}

.gallery-cell {
	width: 100%;
	height: 200px;
	padding: 10px;
	background-size: cover;
	background-position: 50%;
}

.gallery-cell .caption {
	position: absolute;
	bottom: 2px;
	right: 2px;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	padding: 10px;
}

.flickity-prev-next-button.previous {
	left: -50px;
}

.flickity-prev-next-button.next {
	right: -50px;
}

.flickity-prev-next-button {
	background: transparent;
}

.flickity-prev-next-button:hover {
	background: transparent;
}

@media screen and (max-width: 768px) {
	.galleryWrapper {
		padding: 30px 15px;
	}

	.main-gallery {
		margin: 0;
	}

	.flickity-prev-next-button.previous, .flickity-prev-next-button.next {
		display: none;
	}
}